<!-- header -->
<nav *ngIf="userRole"
     class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <img src="/assets/LOCORONA_Logo.svg" alt="" class="navbar-brand">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/map">Karte</a>
            </li>
        </ul>
        <div class="nav-tools d-flex align-items-center">
            <app-button *ngIf="route !== '/hospital' && route !== '/questionnaire'"
                        type="primary"
                        [label]="userRole === 'patient' ? 'Helfen Sie mit!' : 'Daten verwalten'"
                        (wasClicked)="navigateTo(userRole === 'patient' ? 'questionnaire' : 'hospital')">
            </app-button>
            <i class="fa fa-sign-out sign-out-button" (click)="signout()"></i>
        </div>
    </div>
</nav>

<!-- content -->
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <a routerLink="/imprint">Impressum & Datenschutz</a>
</div>
