@import "../scss/colors";
@import "../scss/sizes";

.navbar {
    background-color: $color-grey-light;
    padding: 0 1rem;
    height: 80px;
    align-items: stretch;

    .navbar-nav {
        align-items: stretch;
    }

    .nav-tools {
        > *:not(:last-child) {
            padding-right: $spacing-xlarge;
        }

        .fa {
            font-size: 28px;
        }
    }
}

.navbar-expand-lg .navbar-collapse {
    align-items: stretch;

    .nav-item {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 20px;

        &:hover, &:active, &:focus {
            border-bottom: 1px solid $color-grey-typo;
            color: $color-grey-typo;
        }
        &:active, &:focus {
            font-weight: bold;
        }

        &.active {
            border-bottom: 3px solid $color-grey-typo;
            color: $color-grey-typo;
            font-weight: bold;
        }
    }
}

.container {
    height: 100%;
}

.sign-out-button {
    font-size: 32px;
    cursor: pointer;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background: $color-grey-light
}
