<button type="button"
        class="button-{{type ? type : 'secondary'}}"
        [ngClass]="{'icon-button': !label, 'disabled': disabled}"
        (click)="!disabled && wasClicked.emit()">

    <i *ngIf="iconName" class="icon fa {{iconName}}"></i>
    <div *ngIf="label" class="label">{{label}}</div>

</button>

