@import "../../../../scss/colors";
@import "../../../../scss/typography";
@import "../../../../scss/sizes";

:host {
    button {
        display: flex;
        align-items: center;
        height: $button-height;
        padding: 0 $spacing-large;
        border: 0;
        border-radius: $border-radius;
        box-sizing: border-box;
        cursor: pointer;

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }

        // primary button
        &.button-primary {
            background: $color-orange-default;

            &:hover {
                background: $color-orange-hover;
            }
            &:active {
                background: $color-orange-active;
            }
            &:focus {
                outline: 0;
                box-shadow: 0px 0px 0px $border-size-focus $color-orange-focus;
            }
        }

        // secondary button
        &.button-secondary {
            color: white;
            background: $color-grey-default;

            &:hover {
                background: $color-grey-hover;
            }
            &:active {
                background: $color-grey-active;
            }
            &:focus {
                outline: 0;
                box-shadow: 0px 0px 0px $border-size-focus $color-grey-focus;
            }
        }

        &.icon-button {
            width: $button-height;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        // content
        .label {
            color: white;
            @include typo-default;
        }

        .icon {
            color: white;
            font-size: 16px;

            &:not(:last-child) {
                padding-right: $spacing-small;
            }
        }
    }
}
