<div class="login-view">

    <div class="content">

        <img src="assets/LOCORONA_Logo.svg">

        <div class="intro">Möchten Sie sich als Patient oder als Testeinrichtung anmelden?</div>

        <div class="buttons">
            <app-button type="primary"
                        label="Patient"
                        (wasClicked)="signin('patient')">
            </app-button>
            <app-button type="primary"
                        label="Testeinrichtung"
                        (wasClicked)="signin('hospital')">
            </app-button>
        </div>

    </div>

</div>
