@import '../../scss/sizes';
@import '../../scss/colors';
@import '../../scss/typography';

.login-view {
    width: 100%;
    height: 100%;
    padding: $spacing-xlarge;
    display: flex;
    align-items:center;
    justify-content: space-around;
    @include typo-default;

    .content {
        background: $color-grey-light;
        width: 580px;
        height: 350px;
        padding: 80px;
        text-align: center;

        img {
            width: 220px;
            height: auto;
            margin-bottom: $spacing-xlarge;
        }

        .intro {
            margin-bottom: 80px;
        }

        app-button {
            display: inline-block;

            &:not(:last-child) {
                margin-right: $spacing-small;
            }
        }
    }
}
