//primary colors
$color-orange-default: #ffaa1c;
$color-orange-hover: #e69b19;
$color-orange-active: #ffb536;
$color-orange-focus: #ffeac6;

// secondary colors
$color-grey-default: #a4a6af;
$color-grey-hover: #80838f;
$color-grey-active: #b7b8bf;
$color-grey-focus: #ecedef;

// greyscale colors
$color-grey-light: #f4f5f9;
$color-grey-mid: #707070;
$color-grey-dark: #4b4f60;
$color-grey-typo: #1e2339;

$color-state-grey-hover: #dbdfeb;
$color-state-grey-active: #e7e9ef;
$color-state-grey-focus: #a6a9b5;

// alarm colors
$color-error: #ef5b40;

// state colors
$color-state-positive: #ec5f5f;
$color-state-negative: #60963c;
$color-state-pending: #5c73cc;
