// spacings: padding, margin
$spacing-xlarge: 24px;
$spacing-large: 16px;
$spacing-small: 8px;
$spacing-tiny: 4px;

// border
$border-size-default: 1px;
$border-size-focus: 5px;
$border-radius: 4px;

// sizes
$button-height: 40px;
$input-field-height: 48px;
$radio-button-size: 20px;
$header-height: 80px;
