@import "../../colors";
.form {
    padding: 24px 16px;
    margin-top: 24px;
}

.footnote-button {
    min-width: 16px !important;
    top: -.75em;
    height: 16px !important;
    padding-left: 5px;
    font-size: 11px;
    margin-left: 5px;
    padding-top: 7px;
    background-color: #4d96c6;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    cursor: pointer;
    line-height: 0;
    border-radius: 1em;
}

.footnote-button span {
    font-weight: 600;
    color: white;
}

.persoenliche-daten,
.symptomatik,
.vorerkrankungen {
    margin-bottom: 42px;
}

h2 {
    text-align: left;
    font: Regular 32px/38px Open Sans;
    letter-spacing: 0;
    color: #1E2339;
    margin-bottom: 24px;
    opacity: 0.85;
}

.tooltip {
    position: relative;
}

.tooltip span.tooltip-text {
    visibility: hidden;
    width: 15em;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 9;
    top: -1em;
    left: 100%;
    margin-left: 1em;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip span.tooltip-text::after {
    content: "";
    position: absolute;
    top: 1.5em;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip input {
    display: none;
}

.tooltip input:checked+span {
    visibility: visible;
    opacity: 1;
}

.thermometer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    border: 0;
    background: url('/assets/thermometer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.thermometer::-moz-range-thumb {
    height: 30px;
    width: 10px;
    border: 0;
    background: url('/assets/thermometer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider {
    margin-top: 5px;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    float: right;
    width: 99%;
}

.slider_with_value {
    width: calc(100% - 50px);
    float: right;
}

span.value {
    margin-bottom: 2px;
    margin-right: 10px;
    width: 30px;
    display: inline-block;
}

.col1 {
    width: 50%;
    display: block;
    /*border: 1px solid black;*/
}

.col2 {
    width: 50%;
    display: block;
    /*border: 1px solid black;*/
}

.container {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-content: center;
    padding-bottom: 16px;
    padding-left: 0;
    border-bottom: 1px solid lightgray;
}

input[type=text],
input[type=number],
input[type=date],
select,
.dropdown {
    width: 312px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4B4F60;
    border-radius: 4px;
    opacity: 1;
    outline: none;
    padding: 8px 16px;
    text-align: left;
    font: Regular 14px/38px Open Sans;
    letter-spacing: 0;
    color: #1E2339;

    &:active,
    &:focus {
        border: 1px solid #FFAA1C;
    }

    &:focus {
        box-shadow: 0 0 5px #FFEAC6;
    }
}

.dropdown {
    overflow: hidden;
    padding: 0;
}

.dropdown.open {
    height: auto;
}

.dropdown-button {
    margin-top: 2px;
    margin-bottom: 16px;
    padding: 8px 16px 0 16px;
}

.dropdown-list {
    padding-left: 0;
}

.dropdown-list-item {
    display: flex;
    flex-direction: row;
    height: 42px;
    transition-duration: 0.5s;
    padding: 8px 16px;
    width: 100%;

    &:hover {
        background-color: #E69B19;
        color: white;
    }

    input {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
    }
}

.dropdown-list-item:hover {
    cursor: pointer;
}

select {
    width: 100%;
}

em {
    font-weight: 600;
}

.region {
    bottom: 20px;
}

.hidden {
    display: none;
}

input[type=submit] {
    width: 100%;
    height: 35px;
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid black;
    background: white;
    transition: ease 0.2s;
}

input[type=submit]:hover {
    background: $blue;
    color: white;
}

@media screen and (max-width: 480px) {
    /* responsive form settings, when window width is 480px or less */
    .container {
        display: unset;
    }
    .col1 {
        width: 100%;
        margin-right: 0;
    }
    .col2 {
        width: calc(100% - 10px);
        margin-left: 10px;
        margin-right: 0px;
        padding-top: 5px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }
}


/* https://codepen.io/JiveDig/pen/jbdJXR*/

.switch-field {
    display: flex;
    overflow: hidden;
    height: 40px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid #FFAA1C;

    &:not(:first-child) {
        border-right: none;
    }

    &:last-child {
        border-right: 1px solid #FFAA1C;
    }
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #FFAA1C;
    color: white;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
