<section class="form">
    <form [formGroup]="questionnaire">
        <section class="persoenliche-daten">
            <h2>Persönliche Daten</h2>
            <div class="region">
                <div class="container">
                    <div class="col1">
                        <span>
                            Haben sie sich bereits auf Corona testen lassen?
                        </span>
                    </div>
                    <div class="col2 switch-field">
                        <input type="radio"
                               id="bereits_getestet_1"
                               name="bereits_getestet"
                               [value]="true"
                               class="form-control"
                               formControlName="bereits_getestet"
                                (change)="toggleQuestion('test_ergebnis', 'bereits_getestet')" />
                        <label for="bereits_getestet_1">Ja</label>
                        <input type="radio"
                               id="bereits_getestet_2"
                               name="bereits_getestet"
                               [value]="false"
                               class="form-control"
                               formControlName="bereits_getestet"
                               (change)="toggleQuestion('test_ergebnis', 'bereits_getestet')" />
                        <label for="bereits_getestet_2">Nein</label>
                    </div>
                </div>
                <div class="container " id="test_ergebnis" *ngIf="questionToggles['test_ergebnis']">
                    <div class="col1 "><span>Wenn Ja?</span></div>
                    <div class="col2">
                        <select name="test_ergebnis" formControlName="test_ergebnis">
                            <option value="" disabled selected>Bitte auswählen...</option>
                            <option value="positiv">Testergebnis positiv</option>
                            <option value="negativ">Testergebnis negativ</option>
                            <option value="ausstehend">Testergebnis ausstehend</option>
                            <option value="tod">Tod</option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Wie alt bist du?</span></div>
                    <div class="col2">
                        <input type="number" formControlName="alter">
                    </div>
                </div>
                <div class="container">
                    <div class="col1">
                        Postleitzahl
                        <label class="tooltip">
                            <div class="footnote-button tooltip">
                                <span>?</span>
                            </div>
                            <input type="checkbox">
                            <span class="tooltip-text">
                                Mit der Postleitzahl ordnen wir deine Daten der Deutschlandkarte zu.
                            </span>
                        </label>
                    </div>
                    <div class="col2">
                        <input type="text" name="plz" formControlName="plz">
                    </div>
                </div>
                <div class="container">
                    <div class="col1">
                        <span>
                            Hattest du in den letzten 14 Tagen Kontakt zu einer <em>nachweislich</em> mit Corona infizierten Person?
                        </span>
                    </div>
                    <div class="col2 switch-field">
                        <input type="radio" id="nachweislich_inf_1" name="nachweislich_inf" [value]="true" formControlName="nachweislich_inf" />
                        <label for="nachweislich_inf_1">Ja</label>
                        <input type="radio" id="nachweislich_inf_2" name="nachweislich_inf" [value]="false" formControlName="nachweislich_inf" />
                        <label for="nachweislich_inf_2">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hattest du in den letzten 14 Tagen Kontakt zu einer <em>möglicherweise</em> mit Corona infizierten Person?</span>
                    </div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one1" name="moeglich_inf" [value]="true" formControlName="moeglich_inf" />
                        <label for="radio-one1">Ja</label>
                        <input type="radio" id="radio-two1" name="moeglich_inf" [value]="false" formControlName="moeglich_inf" />
                        <label for="radio-two1">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Fühlst du dich krank?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one2" name="krank" [value]="true" formControlName="krank" />
                        <label for="radio-one2">Ja</label>
                        <input type="radio" id="radio-two2" name="krank" [value]="false" formControlName="krank" />
                        <label for="radio-two2">Nein</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="symptomatik">
            <h2>Symptomatik</h2>
            <div class="region">
                <div class="container">
                    <div class="col1">
                        Wie ist deine Körpertemperatur?
                        <label class="tooltip">
                            <div class="footnote-button tooltip">
                                <span>?</span>
                            </div>
                            <input type="checkbox">
                            <span class="tooltip-text">Miss die Körpertemperatur mit einem Fieberthermometer im Mund.</span>
                        </label>
                    </div>
                    <div class="col2">
                        <span class="value">{{questionnaire.controls['temperature'].value | number:'0.1'}}</span>
                        <input class="slider thermometer slider_with_value"
                               name="temperature"
                               type="range"
                               formControlName="temperature"
                               min="35"
                               max="42" step="0.1"/>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hast du Husten?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one3" name="husten" value="nein" formControlName="husten" />
                        <label for="radio-one3">Nein</label>
                        <input type="radio" id="radio-two3" name="husten" value="trocken" formControlName="husten" />
                        <label for="radio-two3">Trockener Husten</label>
                        <input type="radio" id="radio-three3" name="husten" value="husten" formControlName="husten" />
                        <label for="radio-three3">Husten mit Auswurf</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hast du Schnupfen?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one4" name="schnupfen" [value]="true" formControlName="schnupfen" />
                        <label for="radio-one4">Ja</label>
                        <input type="radio" id="radio-two4" name="schnupfen" [value]="false" formControlName="schnupfen" />
                        <label for="radio-two4">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hast du Bauchschmerzen?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one5" name="bauchschmerzen" [value]="true" formControlName="bauchschmerzen" />
                        <label for="radio-one5">Ja</label>
                        <input type="radio" id="radio-two5" name="bauchschmerzen" [value]="false" formControlName="bauchschmerzen"/>
                        <label for="radio-two5">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hast du Atemprobleme?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one6" name="atemprobleme" [value]="true" formControlName="atemprobleme" />
                        <label for="radio-one6">Ja</label>
                        <input type="radio" id="radio-two6" name="atemprobleme" [value]="false" formControlName="atemprobleme"/>
                        <label for="radio-two6">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hast du Halsschmerzen?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one7" name="halsschmerzen" [value]="true" formControlName="halsschmerzen" />
                        <label for="radio-one7">Ja</label>
                        <input type="radio" id="radio-two7" name="halsschmerzen" [value]="false" formControlName="halsschmerzen"/>
                        <label for="radio-two7">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Hast du Schüttelfrost?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one8" name="schuettelfrost" [value]="true" formControlName="schuettelfrost" />
                        <label for="radio-one8">Ja</label>
                        <input type="radio" id="radio-two8" name="schuettelfrost" [value]="false" formControlName="schuettelfrost" />
                        <label for="radio-two8">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Seit wann treten diese Symptome auf?</span></div>
                    <div class="col2">
                        <input type="date" name="seitWann" formControlName="seitWann">
                    </div>
                </div>
            </div>
        </section>
        <section class="vorerkrankungen">
            <h2>Vorerkankungen</h2>
            <div class="region">
                <div class="container">
                    <div class="col1"><span>Leidest du an einer chronischen Atemwegserkrankungen?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio"
                               id="radio-one9"
                               name="atemwegserkrankung"
                               [value]="true"
                               formControlName="atemwegserkrankung"
                               (change)="toggleQuestion('atemwegs_welche', 'atemwegserkrankung')" />
                        <label for="radio-one9" my-show="Atemwegserkrankungen"> Ja</label>
                        <input type="radio"
                               id="radio-two9"
                               name="atemwegserkrankung"
                               [value]="false"
                               formControlName="atemwegserkrankung"
                               (change)="toggleQuestion('atemwegs_welche', 'atemwegserkrankung')" />
                        <label for="radio-two9" my-show="Atemwegserkrankungen">Nein</label>
                    </div>
                </div>
                <div class="container" id="Atemwegserkrankungen" *ngIf="questionToggles['atemwegs_welche']">
                    <div class="col1 "><span>Welche?</span></div>
                    <div class="col2 ">
                        <select name="atemwegs_welche" formControlName="atemwegs_welche">
                            <option value="" disabled selected>Bitte auswählen...</option>
                            <option value="bronchitis ">Bronchitis</option>
                            <option value="Lungenemphysem ">Emphysem</option>
                            <option value="Asthma ">Asthma</option>
                            <option value="sonstige ">Sonstige</option>
                        </select>
                    </div>
                </div>
                <div class="container ">
                    <div class="col1 "><span>Rauchst du?</span></div>
                    <div class="col2 switch-field ">
                        <input type="radio" id="radio-one10" name="raucher" [value]="true" formControlName="raucher"/>
                        <label for="radio-one10">Ja</label>
                        <input type="radio" id="radio-two10" name="raucher" [value]="false" formControlName="raucher"/>
                        <label for="radio-two10">Nein</label>
                    </div>
                </div>
                <div class="container">
                    <div class="col1"><span>Sind bei dir Herz-Kreislauf-Erkrankungen diagnostiziert?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio"
                               id="radio-one11"
                               name="herzkreislauf"
                               [value]="true"
                               formControlName="herzkreislauf"
                               (change)="toggleQuestion('herzkreislauf_welche', 'herzkreislauf')" />
                        <label for="radio-one11" my-show="HerzKreislauf"> Ja</label>
                        <input type="radio"
                               id="radio-two11"
                               name="herzkreislauf"
                               [value]="false"
                               formControlName="herzkreislauf"
                               (change)="toggleQuestion('herzkreislauf_welche', 'herzkreislauf')" />
                        <label for="radio-two11" my-show="HerzKreislauf">Nein</label>
                    </div>
                </div>
                <div class="container " id="HerzKreislauf" *ngIf="questionToggles['herzkreislauf_welche']">
                    <div class="col1 "><span>Welche?</span></div>
                    <div class="col2 ">
                        <select name="herzkreislauf_welche" formControlName="herzkreislauf_welche">
                            <option value=" " disabled selected>Bitte auswählen...</option>
                            <option value="hypertonie ">Arterielle Hypertonie</option>
                            <option value="Verschlusskrankheit ">Periphere arterielle Verschlusskrankheit (pAVK)</option>
                            <option value="Koronale ">Koronale Herzkrankheit</option>
                            <option value="Apoplex ">Apoplex</option>
                            <option value="sonstige ">Sonstige</option>
                        </select>
                    </div>
                </div>
                <div class="container ">
                    <div class="col1 "><span>Hast du eine Immunschwäche?</span></div>
                    <div class="col2 switch-field ">
                        <input type="radio"
                               id="radio-one13"
                               name="immunschwaeche"
                               [value]="true"
                               formControlName="immunschwaeche"
                               (change)="toggleQuestion('immunschwaeche_welche', 'immunschwaeche')" />
                        <label for="radio-one13" my-show="Immunschwaeche"> Ja</label>
                        <input type="radio"
                               id="radio-two13"
                               name="immunschwaeche"
                               [value]="false"
                               formControlName="immunschwaeche"
                               (change)="toggleQuestion('immunschwaeche_welche', 'immunschwaeche')" />
                        <label for="radio-two13" my-show="Immunschwaeche">Nein</label>
                    </div>
                </div>
                <div class="container" id="Immunschwaeche" *ngIf="questionToggles['immunschwaeche_welche']">
                    <div class="col1"><span>Welche?</span></div>
                    <div class="col2">
                        <select name="immunschwaeche_welche" formControlName="immunschwaeche_welche">
                            <option value=" " disabled selected>Bitte auswählen...</option>
                            <option value="hypertonie">herbeigeführt durch Immunsupressiva</option>
                            <option value="Verschlusskrankheit">Cortison</option>
                            <option value="Koronale">Erworbene Immuninsuffizienz (AIDS)</option>
                            <option value="sonstige">Sonstige</option>
                        </select>
                    </div>
                </div>
                <div class="container ">
                    <div class="col1 "><span>Leidest du an krankhaftem Übergewicht?</span></div>
                    <div class="col2 switch-field">
                        <input type="radio" id="radio-one12" name="switchThirteen" [value]="true" formControlName="switchThirteen"/>
                        <label for="radio-one12">Ja</label>
                        <input type="radio" id="radio-two12" name="switchThirteen" [value]="false" formControlName="switchThirteen"/>
                        <label for="radio-two12">Nein</label>
                    </div>
                </div>
            </div>
        </section>

        <app-button [label]="'Daten absenden'" [disabled]="!questionnaire.valid" (click)="submitData($event)"></app-button>

        <div class="alert alert-info mt-4" role="alert">
            Es werden derzeit keinerlei Daten übertragen oder gespeichert.
        </div>
    </form>
</section>
