@import '../../../../scss/sizes';
@import '../../../../scss/colors';
@import '../../../../scss/typography';

:host {

    .entry-card {
        width: 160px;
        height: 64px;
        border-radius: $border-radius;
        overflow: hidden;
        display: flex;

        &.state-positive {
            .card-state {
                background: $color-state-positive;
            }
            .state-label {
                color: $color-state-positive;
            }
        }

        &.state-negative {
            .card-state {
                background: $color-state-negative;
            }
            .state-label {
                color: $color-state-negative;
            }
        }

        &.state-pending {
            .card-state {
                background: $color-state-pending;
            }
            .state-label {
                color: $color-state-pending;
            }
        }

        .card-state {
            flex: 0 0 auto;
            background: $color-grey-mid;
            width: $spacing-tiny;
            height: 100%;
        }

        .card-data {
            flex: 1 1 auto;
            width: 100%;
            height: 100%;
            background: $color-grey-light;
            border-left: 0;
            padding: 0 $spacing-large;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include typo-default;

            .card-id {
                padding-bottom: $spacing-small;
            }

            .state-label {
                height: 20px;
                background: white;
                border-radius: $border-radius;
                padding: 0 $spacing-small;
                font-size: 10px;
                display: flex;
                align-items: center;
                margin-right: auto;
            }
        }
    }

}
