<div class="entry-card state-{{state}}">

    <!-- state -->
    <div class="card-state"></div>

    <!-- data with id and state -->
    <div class="card-data">
        <div class="card-id">#{{id}}</div>
        <div class="state-label">{{state.toUpperCase()}}</div>
    </div>

</div>
