<div class="card mt-4 map-card">
    <div class="card-body">
        <h5 class="card-title">Plot</h5>
        <iframe src="/assets/graphs/map_of_countries.html" frameborder="0"></iframe>
    </div>
</div>
