<div class="hospital-view">

    <!-- header section with tools -->
    <div class="tool-bar">

        <div class="tools">
            <app-button iconName="fa-filter"></app-button>
        </div>
    </div>

    <!-- content section with card grid -->
    <div class="cards">
        <app-entry-card *ngFor="let entry of mockTestEntryData"
                        [id]="entry.id"
                        [state]="entry.state">
        </app-entry-card>
    </div>

</div>


