@import '../../scss/sizes';
@import '../../scss/colors';

:host {

    .hospital-view {
        padding: $spacing-xlarge;
        height: 100%;

        //header section
        .tool-bar {
            padding: $spacing-large;
            border-bottom: 1px solid $color-orange-default;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;

            .tools {
                display: flex;

                *:not(:last-child) {
                    padding-right: $spacing-small;
                }
            }
        }

        // content section
        .cards {
            margin-top: $spacing-xlarge;
            display: flex;
            flex-wrap: wrap;

            > * {
                padding: $spacing-small;
            }
        }
    }

}
