@import "../../scss/colors";

iframe {
    height: 100%;
    max-height: calc( 100% - 38px );
    min-height: 300px;
    width: 100%;
    border-top: 1px solid $color-orange-default;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    color: $color-grey-typo;
}
.state-entry{
    font-size: 14px;
    line-height: 38px;
    border-top: 1px solid $color-orange-default;
}
.card {
    height: 100%;
}
.iframe-only{
    min-height: 500px;
}
