<div class="row mt-3">
    <div class="col-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fallzahlen in Deutschland</h5>
                <div>
                    <div class="state-entry d-flex justify-content-between" *ngFor="let state of states">
                        <div>{{state.name}}</div>
                        <div>{{state.cases}}</div>
                    </div>
                    <div class="state-entry d-flex justify-content-between">
                        <div>Gesamt:</div>
                        <div>{{ totalCases }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plot</h5>
                <iframe src="/assets/graphs/history_hamburg.html" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4 iframe-only">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fälle pro Bundesland</h5>
                <iframe src="/assets/graphs/cases_per_state.html" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="col-6 mb-4 iframe-only">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Altersgruppen</h5>
                <iframe src="/assets/graphs/age_groups.html" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

